html{
    height: 100%;
    background-image: linear-gradient(to right bottom, #a1b5d3, #77c6e2, #53d5d2, #75dea6, #bcde71);
}

#container{
    height: 500px;
    width: 600px;
    background-image: linear-gradient(to left bottom, #3f11e5, #b700b4, #e6007c, #f60049, #f00d17);
    margin: 100px auto;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 4px 4px 0px 0px #ca72c9;
    position: relative;
}

#score{
    height: 30px;
    width: auto;
    background-color: #0dfdf1;
    position: absolute;
    right: 10px;
    padding: 10px 10px 0px 10px;
}

#correct{
    height: 30px;
    width: auto;
    background-color: #16ff22;
    position: absolute;
    left: 45%;
    padding: 10px 10px 0px 10px;
    display: none;
}

#wrong{
    height: 30px;
    width: auto;
    background-color: #ff0808;
    position: absolute;
    color: white;
    left: 45%;
    padding: 10px 10px 0px 10px;
    display: none;
}

#question{
    height: 120px;
    width: 400px;
    background-color: #22e4da;
    font-size: 80px;
    line-height: 120px;
    text-align: center;
    align-items: center;
    margin: 80px auto 10px auto;
}

#instruction{
    height: 50px;
    width: 400px;
    background-color: #22e4da;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 10px auto 10px auto;
    line-height: 45px;
}

#choices{
    height: 140px;
    width: 400px;
    background-color: #22e4da;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}

.box{
    height: 100px;
    width: 90px;
    background-color: white;
    margin-top: 15px;
    cursor: pointer;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    line-height: 95px;
    position: relative;
    transition: all 0.2s;
}

.box:hover, #startreset:hover{
    background-color: #3f11e5;
    color: white;
}


.box:active, #startreset:active{
    top: 4px;
    background-color: #6b81aa;
}

#startreset{
    height: 40px;
    width: 100px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    transition: all 0.2s;
    position: relative;
    margin: 20px auto;
    border-radius: 8%;
    padding: 5px;
}

#timeremaining{
    height: 40px;
    width: 200px;
    background-color: rgba(3, 216, 99, 0.87);
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 440px;
    right: 10px;
    border-radius: 6%;
    padding: 5px;
    display: none;
}

#gameover{
    height: 200px;
    width: 500px;
    background-color: rgba(245, 53, 0, 1);
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    line-height: 46px;
    top: 120px;
    z-index: 2;
    left: 60px;
    display: none;
    border-radius: 5%;
}


